@import "tailwindcss";

@theme{
    --color-theme: #1C74FC;

    --color-darkest: #121212;
    --color-dark: #242121;

    --color-darkest-see-trough: rgba(18, 18, 18, 0.9);
}

@layer base {
    h1 {
        font-size: var(--text-3xl);
        font-weight: var(--font-weight-bold)
    }

    h2 {
        font-size: var(--text-xl);
        font-weight: var(--font-weight-bold)
    }
}